<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.holamundokotlin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HolaMundoKotlin">
        <activity
            android:name=".Todouble"
            android:exported="false" />
        <activity
            android:name=".Tofloat"
            android:exported="false" />
        <activity
            android:name=".Tolong"
            android:exported="false" />
        <activity
            android:name=".Toint"
            android:exported="false" />
        <activity
            android:name=".Foreachenkotlin"
            android:exported="false" />
        <activity
            android:name=".Funciones"
            android:exported="false" />
        <activity
            android:name=".While"
            android:exported="false" />
        <activity
            android:name=".When"
            android:exported="false" />
        <activity
            android:name=".Rangos"
            android:exported="false" />
        <activity
            android:name=".If"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".For"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>